<%= image_tag "https://res.cloudinary.com/dfx8gzbl4/image/upload/v1686235410/Untitled_design_4_ndvvtk.png", height: 30, width: 30, alt: "Logo" %>
<div class="badge rounded-pill bg-primary fs-6">
  <%= space.name %>
</div>
